
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@300&family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme+Expanded:wght@300&family=Port+Lligat+Slab&display=swap');
@font-face {
    font-family: 'milk';
    src: url('fonts/AGlassofMilk-Outline.otf');
}
html{
    scroll-behavior: smooth;
}
body{
    height: auto;
}
.home{
    background-image: url('images/bg.gif');
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

h1{
    font-family: 'Hanalei Fill', cursive;
    color: yellow;
    font-size: 12vw;
    text-align: center;
    line-height: 1.1;
    margin: 20px;
}
h2{
    font-family: 'Port Lligat Slab';
    font-size: 5vw;
    color: #fff;
    text-align: center;
    
}
img{
   
}
 h2 img{
    display: inline;
   
 }

.description{

}
p{
color: white;
font-size: 20px;
font-family: 'Port Lligat Slab';
text-align: center;
max-width: 650px;
display: block;
margin-left: auto;
margin-right: auto;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    
    margin-top: 100px;
    flex-flow: wrap;
}
.box{
    /* width: 1fr; */
    align-items: center;
    width: 40%;
    font-family: 'Hanalei Fill', cursive;
    font-size: 5vw;
    color: white;
    
    text-align: center;
    text-decoration:dotted;
    position: relative;
    min-width: 350px;
    margin: 1vw;
}

.box img{
    width: 100%;
    float: right;
    border-radius: 10px;
    border: 4px solid white;
    
}

.box:hover img{
    
    animation: flicker2 1.5s infinite alternate;

}
.box:hover{
    animation: flicker 1.5s infinite alternate;
    color: #fff;
}


.header{
    height: 100px;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    mix-blend-mode: darken;
}
.header img{
    
    height: 70px;
    display: block;
    margin: auto;
   

}

.header a{
    color: red;
    width: 100px;
    font-family: 'Hanalei Fill', cursive;
    font-size: 32px;
    text-align: center;
max-width: 150px;
margin: auto;
font-size:calc(12px + 0.5vw);
line-height: 0.8;
text-decoration: none;
-webkit-text-stroke: 0.5px #fff1c5
}

.header a:hover{
    /* animation: flicker 1.5s infinite alternate; */
    color: black;
    mix-blend-mode: hue;
}
/* Recepie page */


.recepie{
    background-color: #fff1c5
}
.recepie h1{
    color: red;
    text-align: center;
    margin: 0.5em;
    
}
.recepie .container{
    margin-top: 0;
}
.everyday{
       text-align: center;
       
}
.everyday h2{ 
    color:red;
    text-align: center;
    width: 32vw;
    font-size: 3vw;
    
}
.everyday h2 img{
    display: inline-block;
    width: 80%;
    mix-blend-mode: darken;
}

.ingre{
    color: red;
    width: 30%;

}

.method{
width: 70%;

}

.ingre h2{
    color: #fff;
    font-size:calc(12px + 1.5vw);
    position: sticky;
    top: 0;
    padding: 20px 0;
    letter-spacing: 0.3em;
    mix-blend-mode: difference;
    z-index: 1;
    
}


ul{
    background-color: red;
    padding: 0;
    max-width: 400px;
}

h3{
    font-family: 'Hanalei Fill', cursive;
    font-size: 32px;
    text-align: center;
    max-width: 400px;
    color: #fbbb0d;
}
 ul li{
    font-family: 'Port Lligat Slab';
    color: #fff;
    padding: 0.5em;
    font-size: 18px;
    margin: auto;
 }

 ul li:hover{
    background-color: #fbbb0d;
    
 }

 input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
  }
.video-container{
    /* position: sticky;
    top:0; */
    padding:0 1vw ;
}

  .video{
    

    aspect-ratio: 16 / 9;
    width: 100%;
  }

.step{
    /*top: calc(16/9*100%);*/
    /*position: sticky;*/
    /* padding:1vw ; */
    margin: 1vw;
 
}

.step h3{
    color: red;
    max-width: none;
    /*text-align:left;*/
}
.step p{
    color: black;
    text-align: center;
    max-width: 700px;
    padding: 10px;
}

/* history page */
.history-container{
    max-width: 850px;
    text-align: center;
    margin: auto;
    padding: 5vw 0;
}
.history p{
    color: red;
    text-align: left;
    max-width: none;
}


.history h1{
    color: #fbbb0d
}
.cover{
    width: 100%;
    
}
.history h2{
    color: black;
}

.history p img{
    display:inline-block;
    max-width: 55px;
    margin: 0 5px;
    
}
.history p img:hover{
    transform: scale(5);
}
.left{
    float:left;
}
.right{
    float:right;
}


  


/* Flickering animation */
.neonText {
  animation: flicker 1.5s infinite alternate;
  color: #fff;
}



@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px rgb(255, 0, 0),
      0 0 80px rgb(255, 0, 0),
      0 0 90px rgb(255, 0, 0),
      0 0 100px rgb(255, 0, 0),
      0 0 150px rgb(255, 0, 0);
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

@keyframes flicker2 {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        box-shadow:
        0 0 2px #fff,
        0 0 7px #fff,
        0 0 5px #fff,
        0 0 20px rgb(255, 0, 0),
        0 0 40px rgb(255, 0, 0),
        0 0 50px rgb(255, 0, 0),
        0 0 55px rgb(255, 0, 0),
        0 0 50px rgb(255, 0, 0);
    
    }
    
    20%, 24%, 55% {        
        box-shadow: none;
    }    
  }





